<div class="jumbotron">
  <h1 class="display-4">Exam Instructions</h1>
  <p class="lead">
    1. The exam can only be taken once. When started and questions are displayed, students
    must submit the answers or they will fail.
  </p>
  <hr class="my-4">
  <p class="lead">
    2. The exam will be one page with 3 programming questions, timed for 120 minutes (2 hours).
  </p>
  <hr class="my-4">
  <p class="lead">
    3. Click start to begin.
  </p>
  <p class="lead">
    <button class="btn btn-primary btn-lg" [routerLink]="['../exam']" role="button">Start</button>
  </p>
</div>
