<header>
  <nav id="header-nav" class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">

        <div class="navbar-brand">
          <a [routerLink]="['/about']">
            <h1>Programming Exam</h1>
          </a>
        </div>

        <button id="navbarToggle" type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#collapsable-nav"
          aria-expanded="false">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <div id="collapsable-nav" class="collapse navbar-collapse">
        <ul id="nav-list" class="nav navbar-nav navbar-right">
          <li id="navAboutButton" [routerLinkActive]="['active']">
            <a [routerLink]="['info']"> 
              <span class="glyphicon glyphicon-info-sign"></span>
              <br class="hidden-xs"> Instructions
            </a>
          </li>
          <li id="navAboutButton" [routerLinkActive]="['active']">
            <a href="javascript:void(0);">
              <span class="glyphicon glyphicon-info-sign"></span>
              <br class="hidden-xs"> Profile
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer class="public-panel-footer">
  <div class="container">
    <div class="row">
      <div class="text-center">
        &copy; SSS&nbsp; &nbsp;2019
      </div>
    </div>
  </div>
</footer>
